html {
    background: #f8dbacb5;
}
h1{
    color: rgb(90, 9, 9);
}
body{
    margin: 80px; 
    padding: auto;
    font-family: cursive;
}
td{
    letter-spacing: 2px;
}
tbody {
    text-align: center;
    -moz-text-decoration-color: black;
}
*{
    font-family: cursive;
    
    
}
.num {
   background-color: rgb(247, 215, 181);

}

button{

    background-color: bisque;
}